#calculator  {
    width: 40%;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: grey;
    padding: 5%;
}

#display p {
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    height:30px;
    font-size: 140%;

}

#calculator {
    margin-left: auto;
    margin-right: auto;
}

.calculatorRow {
    display: flex;
}

.calculatorButton
{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

.calculatorButton.number{
    background-color:white;
    color:black;

}

.calculatorButton.number:hover{
    background-color:rgba(255, 255, 255, 0.76);

}
.calculatorButton.operator{
    background-color:rgba(0, 0, 255, 0.575);
    color:white;
    font-weight: bold;

}

.calculatorButton.operator:hover{
    background-color:rgba(0, 0, 255, 0.24);
}

.calculatorButton.decimal{
    background-color:rgba(0, 0, 255, 0.575);
    color:white;
    font-weight: bold;

}

.calculatorButton.decimal:hover{
    background-color:rgba(0, 0, 255, 0.24);
}

.calculatorButton.on{
    background-color:black;
    color:white;
    font-weight: bold;

}

.calculatorButton.on:hover{
    background-color:rgba(0, 0, 0, 0.698);
}

.calculatorButton.equals{
    background-color:rgb(76, 40, 143);
}

.calculatorButton.equals:hover{
    background-color:rgba(76, 40, 143 0.698);
}